:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.welcome-text {
  font-size: 3rem;
  font-weight: 300;
}

.headshot-h {
  width: 100%;
}

@media (min-width: 768px) {
    .headshot-h {
      max-height: 20rem;
      width: auto;
    }
}